<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.MainMapper">
	<select id="selectMainView" resultType="room">
		select roomno, roomtype, roomsimplemanual, price, (select ri.roomimagepath from roomimage ri where r.roomno = ri.roomno) as roomimagepath
		from room r
	</select>
	
	<select id="selectHotelView" resultType="hotel">
		select * from hotel
	</select>
	
	<select id="selectRoomView" resultType="room">
		select r.roomno, r.roomtype, h.hotelname, r.roomsimplemanual, r.price, ri.roomimagepath as roomImage
		from room r, roomimage ri, hotel h where r.roomno = ri.roomno and r.hotelno = h.hotelno
	</select>
</mapper>







