<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.MemberMapper">
	
	<insert id="insertMember" parameterType="member">
		insert into member values(#{email}, #{password}, #{memberName}, #{birth}, #{gender}, #{tel}, #{address})
	</insert>
	
	<select id="matchMember" parameterType="map" resultType="member">
		select email, pass as password, membername, birth, gender, membertel, memberaddress from member
		where email = #{email} and pass = #{password}
	</select>
	
	<select id="selectMemberId" parameterType="map" resultType="member">
		select email, pass as password, membername, birth, gender, membertel, memberaddress from 
		member where membername = #{memberName} and membertel = #{tel}
	</select>
</mapper>







